<%= form_for(city_list) do |f| %>
  <% if city_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city_list.errors.count, "error") %> prohibited this city_list from being saved:</h2>

      <ul>
      <% city_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
