<h2 class= "city_list_title"> <%= @city_list.city %></h2>

<h4> Restaurants I want to eat at  </h4>

<% @city_list.restaurants.each do |restaurant| %>
    <% if !restaurant.ate? %>

    <div class="eat">
        <%= link_to "Mark that you have eaten here and liked it", eat_and_liked_city_list_restaurant_path(@city_list, restaurant.id), method: :patch %>
    </div>
    <div class="eat">
        <%= link_to "Mark that you have eaten here and didn't like it", eat_and_didnt_like_city_list_restaurant_path(@city_list, restaurant.id), method: :patch %>
    </div>
        <%= restaurant.name %> </p>
        <%= restaurant.description %></p>
        <%= restaurant.address %>
    <div class="trash">
        <%= link_to "Delete", city_list_restaurant_path(@city_list, restaurant.id), method: :delete, data: { confirm: "Are you sure?" }%>
    </div>
    <% end %>
<% end %>

<h4> Restaurants I ate at and liked it </h4>

<% @city_list.restaurants.each do |restaurant| %>
    <% if restaurant.ate? && restaurant.liked_it? %>
        <%= restaurant.name %> </p>
        <%= restaurant.description %></p>
        <%= restaurant.address %></p>
    <div class="trash">
        <%= link_to "Delete", city_list_restaurant_path(@city_list, restaurant.id), method: :delete, data: { confirm: "Are you sure?" }%>
    </div>
    <% end %>
<% end %>

<h4> Restaurants I ate at and didn't like it </h4>

<% @city_list.restaurants.each do |restaurant| %>
    <% if restaurant.ate? && !restaurant.liked_it? %>
        <%= restaurant.name %> </p>
        <%= restaurant.description %></p>
        <%= restaurant.address %></p>

    <div class="trash">
        <%= link_to "Delete", city_list_restaurant_path(@city_list, restaurant.id), method: :delete, data: { confirm: "Are you sure?" }%>
    </div>
    <% end %>
<% end %>

<div id = "restaurants_wrapper">
    <div id="form">
        <%= render "restaurants/form" %>
    </div>
</div>







<div class="links">
    <%= link_to 'Edit', edit_city_list_path(@city_list) %> |
    <%= link_to 'Delete', city_list_path(@city_list), method: :delete, data: { confirm: "Are you sure?" }
 %> |
    <%= link_to 'Back', city_lists_path %>
</div>
