<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city_list.city %>
</p>


<div id = "restaurants_wrapper">
    <%= render @city_list.restaurants %>
    <div id="form">
        <%= render "restaurants/form" %>
    </div>
</div>

<%= link_to 'Edit', edit_city_list_path(@city_list) %> |
<%= link_to 'Back', city_lists_path %>
